target
.classpath
.project
.settings
*.iml
*.class
.idea
.mymetadata
.metadata
RemoteSystemsTempFiles
zkconf.properties/cmt
/statistics/check/difference
/statistics/check/20160711.xls
/statistics/check/difference20160711.xls
/statistics/check/different.txt
/statistics/check/different2.xlsx
/statistics/check/different20160711.xls
.externalToolBuilders
duplication/src2\.zip
